$fontfam: arial;
table {
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
	font-family: arial;
	font-size: 24px;
	padding: 2px;
	margin: 5px;
	background-color: lightgreen;
	color: green;
	font-weight: bold;

	td, th {
	color: black;
	font-size: 20px;
	border: 2px solid black;

	}
}
.head {
	font-weight: bold;
	color: green;
	font-size: 26px;
	border: 1px solid lightgreen;
	padding: 1px;
	margin: 3px;
	background-color: lightgreen;
	text-align: center;
}
#fst {
	@extend .head;
	font-size: 32px;
	color: black;
}
#snd {
	@extend .head;
	color: blue;
}
#trd {
	@extend .head;
	color: green;
}
#end{
	@exend .head;
	background-color: lightgreen;
}
@media (min-width: 600px){
			body {
				background-color: lightcyan;
				font-size: 28px;
				color: black;
				font-family: $fontfam; 
			}
		}
@media (max-width: 599px){
			body {
				background-color: lightskyblue;
				font-size: 18px;
				color: black;
				font-family: $fontfam;
			}
		}
table:hover {
	background-color: white;
}
#fbox {
	display: flex;
	flex-wrap: wrap;

	div {
		background-color: springgreen;
		font-size: 28px;
		margin: 20px;
		padding: 20px;
		width: 200px;
	}
}
#end {
	font-size: 40px;
	text-align: center;
	border: 12px solid darkgreen;
	background-color: darkgreen;
}
#grid {
			background-color: lime;
			display: grid;
			padding: 20px;
			grid-column-gap: 20px;
			grid-row-gap: 10px;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto auto;
		}
.grid-item {
	background-color: white;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
button {
	color: green;
	height: 50px;
	width: auto;
	background-color: lightgreen;
	font-weight: bold;
	font-size: 40px;	
}
button:hover {
	color: lightgreen;
	height: 50px;
	width: auto;
	background-color: green;
	font-weight: bold;
	font-size: 40px;
}
#nd {
	@extend button;
}